@model IEnumerable<SimpleCrudDropdown.Models.Customer>

@{
    ViewData["Title"] = "ReadCustomers";
}

<h1>ReadCustomers</h1>

<p>
    <a asp-action="CreateCustomer">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CellPhone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsDeleted)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CellPhone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsDeleted)
            </td>
            <td>
                <a asp-action="UpdateCustomer" asp-route-key="@item.OID">Edit</a> |
                <a asp-action="ReadCustomerByKey" asp-route-key="@item.OID">Details</a> |
                <a asp-action="SoftDeleteCustomer" asp-route-key="@item.OID">SoftDelete</a>
                <a asp-action="Delete" asp-route-id="@item.OID">HardDelete</a>
            </td>
        </tr>
}
    </tbody>
</table>
